.about-container {
  color: white;
  width: 80vw;
  margin-left: 122px;
  margin-bottom: 122px;
}
.container-middle .para {
  color: white;
  padding: 22px;
  text-align: justify;
  margin-left: 40px;
}

.photo {
  height: 30vh;
  margin-left: 120px;
  z-index: 5;
  margin-bottom: 12px;
}
.container-middle {
  position: relative;
  display: flex;
  width: 70vw;
}
.image-overlay {
  position: absolute;
  height: 30vh;
  width: 230px;
  background-color: aquamarine;
  opacity: 0.4;
  right: 0;
  z-index: 10;
}

.image-overlay:hover {
  background-color: transparent;
}
.about-container p,
h3 {
  display: flex;
  color: aquamarine;
  margin-top: 15px;
}

.head-section {
  display: flex;
}
.back-overlay {
  position: absolute;
  height: 30vh;
  width: 230px;
  background: transparent;
  border: 3px solid #62ebcf;
  right: -22px;
  top: 20px;
  z-index: 3;
  transition: 0.3s linear;
}
.image-overlay:hover + .back-overlay {
  top: 15px;
  right: -15px;
}
