.about-container {
  color: white;
  width: 50vw;
  margin: 0 auto;
}
.container-middle img {
  height: 30vh;
  margin-bottom: 12px;
}

.container-middle {
  display: flex;
}

.about-container p,
h3 {
  display: flex;
  color: aquamarine;
  margin-top: 15px;
}

.head-section {
  display: flex;
}
