.title p {
  display: flex;
  color: aquamarine;
  justify-content: center;
}
.container-03 p {
  display: flex;
  color: aquamarine;
  justify-content: center;
  margin-bottom: 22px;
}
.image-dis-container{
  display: flex;
  position: relative; 

}
.container-img-right{
  border-radius: 12px;
  height: 35vh;
  width:40vw;
  left: 550px;
  top: 70px;
  position: absolute;
  padding: 28px;
  box-shadow: rgba(222, 240, 240, 0.4) 0px 4px 12px;
}
.container-03 :hover{
  opacity: 1;

}
.content-03 {
  background-color: aquamarine;
  opacity: 0.6;
  height: 60vh;
  width: 54vw;
  margin-left: 66px;
  margin-bottom: 122px;
  display: flex;
  border-radius: 12px;
  box-shadow: rgba(222, 240, 240, 0.4) 0px 4px 12px;
}

.content-container {
  height: 29vh;
  width: 70vw;
  margin: 0 auto;
  margin-bottom: 122px;
  display: flex;
}
.left-content-container button {
  display: flex;
  flex-direction: column;
  color: white;
  width: 12vw;
  height: 7vh;
  margin-top: 4px;
  padding: 12px 0px 0px 55px;
  cursor: pointer;
  border: none;
  background-color: #233554;
  border-radius: 4px;
}
.left-content-container button:hover{
  background-color: #25a31a;
}

.right-content-container{
  border: 2px solid;
  height: 31vh;
  width: 55vw;
  margin-left: 12px;
}
